@{
    ViewBag.Title = "Conocenos";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}
<div id="accordion" class="section scrollspy">

    <div class="row">
        <div class="col s12 m3">
            <h5 class="light">
                HERMANDAD DE NEGROS ESCLAVOS TRUJILLO – MERCEDARIOS
                PARROQUIA SAN PEDRO NOLASCO
            </h5>
        </div>
        <div class="col s12 m9">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Historia</div>
                    <div class="collapsible-body">
                        <p>
                            En febrero del 2010 motivados por la fe y el amor a María en la advocación de la Inmaculada Virgen de la Puerta, se reúnen en la Casa de la Hermana Lourdes Garcia Lázaro un grupo de 60 personas aproximadamente con el propósito de fundar una Asociación de Negros Esclavos de la Inmaculada Virgen de la Puerta de Otuzco, con el propósito de rendir homenaje a través de la danza y canto a la Madre del Señor en la ciudad de Otuzco o en cualquier lugar en donde los inviten a participar. Es así que por gracia divina y luego de muchos esfuerzos el 13 de mayo del 2010 fundan la “Asociación de Negros Esclavos de la Inmaculada Virgen de la Puerta – Trujillo” aquel mismo día se forma la Junta Directiva la cual fue presidida por la Hermana Lourdes García Lazaro, quienes invitan a la imagen de la Virgen de la Puerta de la Hermandad del Jirón Junín para que los bendiga en el inicio de esta nueva etapa que decidieron emprender, designando a los hermanos Adolfo Rojas Cahua Presidente de la Hermandad de la Inmaculada Virgen de la Puerta del Templo la Merced y la señora Colomba Lizarsaburu de Rivera como Padrinos de la Hermandad.
                            Al inicio se adoptó como color distintivo de la Institución el color rojo el cual representa el amor por la Madre del Señor, posteriormente y teniendo en consideración que nuestra institución rendía también su homenaje de fe a la venerada imagen del Señor de los Milagros, quien todos los años hace su recorrido procesional por nuestro Territorio Vecinal se decidió por unanimidad  llevar también el color morado como signo distintivo de nuestra Asociación quedando de esta manera los colores morado y rojo como los colores distintivos de la Asociación de Negros Esclavos Trujillo.
                        </p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p>*</p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/Parallax/hermandad.jpg" /></div>
                                    <div class="col s12 m4 l2"><p>*</p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m3"><h5 class="light">Accordion</h5></div>
        <div class="col s12 m9">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>




















<hr />