@{
    ViewBag.Title = "Conocenos";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}
<div id="accordion" class="section scrollspy">

    <div class="row">
        <div class="col s12 m3">
            <h5 class="light">
                HERMANDAD DE NEGROS ESCLAVOS TRUJILLO – MERCEDARIOS
                PARROQUIA SAN PEDRO NOLASCO
            </h5>
        </div>
        <div class="col s12 m9">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Historia</div>
                    <div class="collapsible-body">
                        <p>
                            En febrero del 2010 motivados por la fe y el amor a María en la advocación de la Inmaculada Virgen de la Puerta, se reúnen en la Casa de la Hermana Lourdes Garcia Lázaro un grupo de 60 personas aproximadamente con el propósito de fundar una Asociación de Negros Esclavos de la Inmaculada Virgen de la Puerta de Otuzco, con el propósito de rendir homenaje a través de la danza y canto a la Madre del Señor en la ciudad de Otuzco o en cualquier lugar en donde los inviten a participar. Es así que por gracia divina y luego de muchos esfuerzos el 13 de mayo del 2010 fundan la “Asociación de Negros Esclavos de la Inmaculada Virgen de la Puerta – Trujillo” aquel mismo día se forma la Junta Directiva la cual fue presidida por la Hermana Lourdes García Lazaro, quienes invitan a la imagen de la Virgen de la Puerta de la Hermandad del Jirón Junín para que los bendiga en el inicio de esta nueva etapa que decidieron emprender, designando a los hermanos Adolfo Rojas Cahua Presidente de la Hermandad de la Inmaculada Virgen de la Puerta del Templo la Merced y la señora Colomba Lizarsaburu de Rivera como Padrinos de la Hermandad.
                            Al inicio se adoptó como color distintivo de la Institución el color rojo el cual representa el amor por la Madre del Señor, posteriormente y teniendo en consideración que nuestra institución rendía también su homenaje de fe a la venerada imagen del Señor de los Milagros, quien todos los años hace su recorrido procesional por nuestro Territorio Vecinal se decidió por unanimidad  llevar también el color morado como signo distintivo de nuestra Asociación quedando de esta manera los colores morado y rojo como los colores distintivos de la Asociación de Negros Esclavos Trujillo.
                        </p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p></p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/Parallax/hermandad.jpg" /></div>
                                    <div class="col s12 m4 l2"><p></p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3"><h5 class="light">NUESTROS PATRONES</h5></div>
        <div class="col s12 m9">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>El Señor de los Milagros</div>
                    <div class="collapsible-body">
                        <p>La devoción que los trujillanos tenemos por el Señor de los Milagros es muy arraigada nuestra institución no es la excepción por ello desde nuestra fundación siempre tuvimos especial predilecccion por esta devocion nazarena por ello se adopto nombrar como Patrón de nuestra Familia de Negros Trujillo a la imagen del Señor de los Milagros quien año a año recorre las calles de nuestra ciudad, por ello adoptamos llevar en nuestros vestuarios el color morado como simbolo de la fe y amor hacia el Cristo Moreno, este color simboliza para todos nosotros el color de la fe y la entrega hacia aquel que entrego su vida por nosotros, por ello lo llevamos con mucho orgullo  en señal de nuestra entrega y compromiso con el.</p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p></p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/sm.jpg" /></div>
                                    <div class="col s12 m4 l2"><p></p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>La Virgen de la Puerta</div>
                    <div class="collapsible-body">
                        <p>Nuestro amor por María en la advocación de la Virgen de la Puerta es el motor de nuestra vida, para ello fuimos creados y es ella a quien le encomendamos toda nuestra misión de evangelización, el ser Negro esclavo de la Virgen de la Puerta es una señal de nuestra entrega a Cristo y a ella es demostrar a todo aquel que nos mire que somos esclavos de la fe y por ello la tenemos a ella como nuestra Patrona. El color rojo en nuestros trajes simboliza nuestro amor hacia la Reina y Señora del Norte Peruano es el color de nuestra sangre y por ello a través del simbolizamos que su amor corre por nuestras venas haciéndonos sus fieles esclavos hasta el día que ella y su amado hijo así lo permitan.</p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p></p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/vp.jpg" /></div>
                                    <div class="col s12 m4 l2"><p></p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3"><h5 class="light">MISION  Y VISION </h5></div>
        <div class="col s12 m9">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Misión</div>
                    <div class="collapsible-body">
                        <p>Promover el culto y devoción a la Madre del Señor en la advocación de la Inmaculada Virgen de la Puerta, a travez de la danza y el canto pero tambien mediante las peregrinaciones evangelizadores que realizamos con la imagen de nuestra titular a los lugares que lo solicitan, viviendo para ello una vida conforme a las normas eclesiasticas dadas y acercandonos a los sacramentos de la santa iglesia catolica.</p><br />
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Visión</div>
                    <div class="collapsible-body">
                        <p>Hacer de nuestros hermanos verdaderos mensajeros de paz, llevando una vida sacramental optima y a la vez ser evangelizadores de Cristo y María no solo con nuestra danza sino también con nuestros actos para que así a cada lugar que vamos llevemos ese mensaje de amor y de paz. </p><br />
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3"><h5 class="light">ESTRUCTURA DE LA HERMANDAD</h5></div>
        <div class="col s12 m9">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Directorio General</div>
                    <div class="collapsible-body">
                        <p>El directorio general de la Hermandad de Negros Esclavos Trujillo Mercedarios esta compuesto de la siguiente manera: Asesor Espiritual,  Presidente, Vicepresidente, Secretario, Pro Secretario, Tesorero, Pro Tesorero, Fiscal, Secretario de Culto y Evangelizacion, Secretario de Deportes, Secretario de Relaciones Publicas e Imagen Institucional y Vocal, ellos son elegidos por un periodo de tres años en los cuales trabajan de manera conjunta con la Comunidad de Padres Mercedarios en el fortalecimiento de la fe y espiritualidad de los integrantes de la hermandad asi como tambien son los encargados de realizar actividades de apoyo social en determinadas fechas del año con el proposito de mantener viva la presencia de Cristo y Maria en los corones de los mas necesitados, de igual forma en conjunto con el Grupo de Custodios son los encargados de organizar las festividades en honor de la Inmaculada Virgen de la Puerta “ Madre Peregrina de Trujillo” en los meses de mayo y octubre.</p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p></p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/dg.jpg" /></div>
                                    <div class="col s12 m4 l2"><p></p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Grupo de Custodios</div>
                    <div class="collapsible-body">
                        <p>
                            El Grupo de Custodios esta integrado por  12 hermanos, quienes son encargados directos de la organización junto al Directorio General de las festividades en honor de nuestra madre de mayo y octubre, de igual forma son ellos los responsables de velar por el cuidado y conservación de la imagen de la mamita y cuando ella sale en peregrinacion recae en ellos la responsablidad directa de coordinar los recorridos y la seguridad de la imagen asi como su custodia de la imagen durante toda la peregrinación. El Grupo de Custodios  tiene como maximo representante al Custodio Mayor el cual es elegido entre todos los integrantes del grupo con la aprobacion del Asesor Espiritual y el Presidente de la Hermandad, de igual forma presiden este grupo
                            El hermano Patrón de Andas quien es el encargado de velar por la conservación de la imagen de nuestra madre y su seguridad, tiene a su cargo a los hermanos vestidores quienes en conjunto con el son los encargados de cambiar  periodicamente el manto a la mamita y de custodiar todos los bienes y enseres que le son donados a ella, durante la festividad la imagen de la mamita es cambiada durante toda la semana que dura la celebración y en octubre es cambiada para recibir a la imagen del Señor de los Milagros que llega  a nuestra Parroquia San Pedro Nolasco y acompañarlo  a su salida  de nuestro Templo.
                        </p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p></p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/gc.jpg" /></div>
                                    <div class="col s12 m4 l2"><p></p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Comite de Apoyo</div>
                    <div class="collapsible-body">
                        <p>El Comité de Apoyo de la Hermandad esta integrada por las madres y familiares de los hermanos quienes se encargan  de brindar apoyo en las procesiones a los hermanos  resguardando su seguridad y de los instrumentos de la Hermandad, de igual forman son ellos los responsables del orden en las procesiones, para lo cual se ubican detrás de la danza  o delante de ella para estar atentos a cualquier necesidad de algun hermano.
                        </p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p></p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/ca.jpg" /></div>
                                    <div class="col s12 m4 l2"><p></p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-action-aspect-ratio"></i>Los Sectores</div>
                    <div class="collapsible-body">
                        <p>La Hermandad se encuentra dividida en  5 sectores los cuales se encargan a lo largo del año de diversas tareas encomendadas por la Parroquia y el Directorio General, durante la Festividad cada Sector se encarga de un determinado tramo de la procesion incentivando a los fieles devotos a esperar con mucha alegria a la Madre del Señor realizando un hermoso homenaje y arreglando las calles por donde hara su paso procesional. Cada sector tiene el honor de manera rotativa de realizar la Solemne Guardada de nuestra Madre en este ultimo tramo procesional cada se sector se esmera por entregar todo lo mejor de ellos a la Reina de la Intendencia el Molino y organizados en diversas comisiones rinden este ultimo homenaje con la mayor alegria y esmero. De igual forma cada sector se encarga en la Copa Fe y Amistad de preparar un potaje el cual es exhibido en la feria gastronomica que se realiza en este evento los fondos que ellso recaudan de la venta de estos platos tipicos sirven para solventar los gastos que demandan su homenaje en el mes de mayo a la mamita.</p><br />
                        <div class="row">
                            <section>
                                <center>
                                    <div class="col s12 m4 l2"><p></p></div>
                                    <div class="col s12 m4 l8"><img class="materialboxed responsive-img" src="~/images/s.jpg" /></div>
                                    <div class="col s12 m4 l2"><p></p></div>
                                </center>
                            </section>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>




















<hr />