@model CapaEntidades.entActividad

@{
    ViewBag.Title = "Detalle Actividad";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}

<h2>@Model.tituloActividad</h2>
<br />
@Html.ActionLink("ASISTIRÉ", "IncrementaAsistencias", new { idActividad = Model.idActividad })


