@{
    ViewBag.Title = "Nuestras Actividades";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}

<div class="row">

    <div class="col s12 m8">
        <div class="row">
            <div class="card lime darken-1">
                <div class="card-content white-text">
                    <span class="card-title">MISTURA MERCEDARIA</span>
                    <p>Todos los años en el mes de julio se realiza en conjunto con las demás instituciones parroquiales la Mistura Mercedaria, con la finalidad de reunir fondos para la conservación y mantenimiento de nuestra Templo y Parroquia. </p>                    
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card  blue-grey">
                <div class="card-content white-text">
                    <span class="card-title">VIA CRUCIS</span>
                    <p>El lunes santo de todos los años nuestra parroquia realiza el Vía Crucis por las calles de nuestro sector, todos los años participamos activamente de esta celebración con la preparación de una estación penitencial en la cual meditamos los misterios de la pasión de nuestro señor. </p>
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card  teal darken-2">
            <div class="card-content white-text">
                <span class="card-title">MISAS DE RETIRO</span>
                <p>Con el proposito de incentivar en todos los miembros de la Hermandad el acercamiento a la Comunión todos los segundos domingos de cada mes participamos de la solemne misa en honor de la Virgen de la Puerta.</p>
            </div>
            <div class="card-action">
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col s12 m3">
        <div class="card  red darken-1">
            <div class="card-content white-text">
                <span class="card-title">DEPARTAMENTO DE PASTORAL JUVENIL</span>
                <p>La Hermandad de Negros Esclavos Trujillo – Mercedarios apoya constamente al Departamento de Pastoral Juvenil de la Arquidiocesis de Trujillo siendo la participacion mas en la Peregrinación de la Cruz Peregrina una de las mas notables. </p>
            </div>
            <div class="card-action">
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card  green">
            <div class="card-content white-text">
                <span class="card-title">HERMANDAD DEL SEÑOR DE LOS MILAGROS</span>
                <p>En el mes de octubre de todos los años participamos de la Festividad en honor de nuestro patrón el Señor de los Milagros, conformando una cuadrilla de cargadores la cual es integrada por todos los hermanos varones de la hermandad, teniendo diversas jornadas de carguio a la imagen del Señor durante sus diversos recorridos por la ciudad. </p>
            </div>
            <div class="card-action">
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card amber darken-2">
            <div class="card-content white-text">
                <span class="card-title">INSTITUCIONES PUBLICAS</span>
                <p>El apoyo de nuestra Hermandad  a las diferentes Instituciones Publicas que asi lo solicitan es frecuente, una de ellas es Defensa Civil tanto del Gobierno Regional como el de la Municipalidad Provincial de Trujillo, quienes todos los años realizan las celebraciones en honor de la mamita y en las que acudimos con nuestra hermandad para cantarle y danzarle a la madre del cielo. </p>
            </div>
            <div class="card-action">
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card pink">
            <div class="card-content white-text">
                <span class="card-title">HERMANDAD VIRGEN DE LA PUERTA DE OTUZCO </span>
                <p>Todos los años participamos en la ciudad de Otuzco en la vigilia en honor de nuestra Madre la Inmaculada Virgen de la Puerta, de esta manera recibimos a sus pies el dia central de su festividad cantando y alabando a nuestro señor por intermedio de su santisima madre.</p>
            </div>
            <div class="card-action">
            </div>
        </div>
    </div>

</div>
