@using CapaEntidades

@{
    ViewBag.Title = "Todas las Actividades";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}

@{ List<entActividad> lista = ViewBag.ListActividades;}

<div class="row">
    @foreach (var item in lista)
    {

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/images/office.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">@item.tituloActividad.Substring(0,25)...<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">VER</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>@item.descripcionActividad aaaaaaaaaaaaaa aaaaaaaa aaaaaaaaa aaaaa aaaaaaaa aaaaaa aaaaaaaaaaaa aaaaaaaa aaaaaaaaa aaabbb bbbbbb bbbbbbb bbbbbb bbbbbbb bbbbbbbb bbbbbbb bbb bbbbccc cccc ccccc ccccc cccc ccccccc cccccc cccc cccc cccccc ddd dddddd dddddd dddd d ddddddd ddddd ddeeee eeeee eeee eeee eeee eeeeee ee eeeeee ff ffffff fff fffff ff fffff ffffff ggg hhhh iii jjjjj llllll kkkkkk mmmmmmmm nnn oooo ppp qqqq rrrr ssssssss  ttttt wwwwww xxxx  yyyy zzzzzzzzzzzzz</p>
                </div>
            </div>
        </div>
    }
</div>













